# URL base da API do Backend (Substitua pelo seu IP local durante o desenvolvimento)
EXPO_PUBLIC_API_URL=""http://SEU_IP_AQUI:3000""

# Chave Pública do Google Cloud Console para Autenticação OAuth
EXPO_PUBLIC_GOOGLE_CLIENT_ID="sua_chave_publica_aqui.apps.googleusercontent.com"